@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

body {
  background-color: slategrey;
}

.container {
 height: 100vh;
}

.board {
 margin: auto;
 max-height: calc(100vh - 75px);
 max-width: calc(100vh - 75px);
 background-color: hotpink;
 // background: url('public/cat.jpg') center center;
 background-size: cover;
}

.box {
 border-bottom: 1px solid black;
 border-right: 1px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: calc(100% / 3);
 background-color: blue;
 color: white;
 text-shadow: 2px 2px rgba(0 , 0, 0, .25);
 font-size: 15vh;
 user-select: none;
 &:nth-child(3n) {
   border-right: 0;
 }
 &:nth-last-child(-1n + 3) {
   border-bottom: 0;
 }

 &:hover {
   background-color: LightSkyBlue;
 }
}

// $alt-color: $cyan;
// $body-bg-color: $gray-200;
// $font-color: $light;

// body {
//   background-color: $body-bg-color;
// }

// .box {
//   align-items: center;
//   background-color: $secondary;
//   border: 5px solid $white;
//   color: $font-color;
//   display: flex;
//   height: 160px;
//   justify-content: center;
// }

// .alt-color {
//   background-color: $alt-color;
// }

// .container {
//     max-width: 950px;
// }